@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

.footer {
    background: #33495C;
    padding: 0 100px;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #fff;
}

.footer-wrapper {
    display: grid;
    margin: 0px auto;
    margin-left: 60px;
    padding: 90px 0;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
}

.footer-wrapper h4 {
     font-size: 28px;
     margin: 0 0 16px 0;
 }

 .footer-column {
     display: flex;
     flex-flow: column wrap;
     justify-content: stretch;
     align-items: flex-start;
 }

 .footer-column p {
     margin: 12px 0;
 }

 .footer-copyright-info {
     font-size: 14px;
     margin: 100px auto;
     margin-bottom: 20px;
     grid-column-start: 1;
     grid-column-end: span3;
 }

 /*Tablet Size*/
@media (max-width: 992px) {

}

/*Mobile Landscape Size*/
@media (max-width: 768px) {
    
}

/*Mobile Portrait Size*/
@media (max-width: 480) {
    
}