@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

.footer {
    background: #33495C;
    padding: 0 100px;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #fff;
}

.footer-wrapper {
    display: grid;
    margin: 20px auto;
    margin-left: 60px;
    padding: 90px 0;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
}

.footer-wrapper h4 {
     font-size: 28px;
     margin: 0 0 16px 0;
 }

 .footer-column {
     display: flex;
     flex-flow: column wrap;
     justify-content: stretch;
     align-items: flex-start;
 }

 .footer-column p {
     margin: 12px 0;
 }

 .footer-copyright-info {
     font-size: 14px;
     margin: 100px auto;
     margin-bottom: 20px;
     grid-column-start: 1;
     grid-column-end: span3;
 }

 .social-icon img {
    margin: 8px 0;
    width: 40px;
    height: 40px;
}

 /*Tablet Size*/
@media (max-width: 992px) {
    .footer {
        padding: 0 50px;
    }
    .footer-wrapper {
        grid-gap: 20px;
        margin-left: 40px;
    }

}

/*Mobile Landscape Size*/
@media (max-width: 768px) {
    .footer-wrapper {
        margin-left: 0px;
    }
}

@media (max-width: 660px) {
    .footer-wrapper {
        display: grid;
        margin: 0px auto;
        margin-left: 0px;
        padding: 100px 0 20px 16px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
    }

    .footer-wrapper h4 {
        font-size: 24px;
        margin: 0 0 12px 0;
    }

    /* .footer-column {
        align-items: center;
    } */
    .footer-column p {
        margin: 8px 0;
        font-size: 14px;
    }

    .footer-column:nth-child(3) {
        grid-column-start: 1;
        grid-row-start: 2 ;
    }

    .footer-column:nth-child(4) {
        grid-column-start: 2;
        grid-row-start: 2 ;
    }

    .footer-copyright-info {
        margin: 30px auto;
        font-size: 12px;
    }
}

/*Mobile Portrait Size*/
@media (max-width: 480px) {
    .footer {
        padding: 10px;
    }

    .footer-wrapper h4 {
        font-size: 18px;
    }

    .footer-column p {
        font-size: 12px;
    }

    .footer-copyright-info {
        margin-top: 20px;
        font-size: 10px;
    }
    
    .social-icon img {
        margin: 8px 0;
        width: 25px;
        height: 25px;
    }
}