@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');


.products-section {
    padding: 0 100px;
    background: #F9FAFC;
    max-height: 1400px;
}

.products-section-wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.products-section-title {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    max-width: 1083px;
    text-align: center;
    font-size: 28px;
    color: #000000;
    margin: 80px 0 30px 0;
}

.products-section-content {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 24px;
    max-width: 600px;
    text-align: center;
}

/*Products Bar*/
.products-bar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.products-bar-product {
    margin: 25px 40px;
    padding: 8px 16px;
    border: 1px solid transparent; 
    transition: all 0.2s;
}

.products-bar-product:hover, .product-selected {
    padding: 8px 16px;
    border-radius: 10px;
    border: 1px solid #bdc3cf; 
    background: #bdc3cf;
}

.products-bar-product span {
    cursor: pointer;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    font-size: 24px;    
}

/*Product Card*/
.product-card {
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.product-card-image {
    max-width: 550px;
    overflow-x: hidden;
}

.product-card-image img {
    width: 400px;
    height: 400px;
    overflow-x: hidden;
}

.product-card-content-title {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 28px;
}

.product-card-content-features {
    display: flex;
    flex-flow: column wrap;
    margin: 0rem 0;
    justify-content: space-evenly;
    width: 400px;
}

.product-card-content-features--feature {
    font-family: 'IBM Plex Sans', sans-serif;
    vertical-align: middle;
    font-size: 18px;
}


/*Tablet Size*/
@media (max-width: 992px) {
    .products-section-title {
        font-size: 26px;
        margin-top: 30px;
    }

    .products-section-content {
        font-size: 22px;
    }

    .products-bar {
        min-width: 750px;
    }

    .products-bar-product {
        flex-flow: row nowrap;
        margin: 25px 12px;
        font-size: 26px;
        padding: 8px 12px;
    }

    .products-bar-product span {
        font-size: 22px;
    }

    /*Product Card*/
    .product-card {
        justify-content: flex-start;
        flex-flow: row nowrap;
        margin: 0 4vw;
    }
    
    .product-card-image {
        max-width: 550px;
    }
    
    .product-card-image img {
        max-width: 350;
        max-height: 380px
    }

    .product-card-content-features--feature {
        font-size: 16px;
    }
}

@media (max-width: 865px) {
    /*Adjust the fonts and sizes of the product card*/
    .product-card-content-title {
        font-size: 24px;
    }
    
    .product-card-content-features {
        width: 350px;
    }
}
/*Mobile Landscape Size*/
@media (max-width: 768px) {

    .products-section {
        padding: 0 50px;
        max-height: auto;
    }

    .products-bar {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    .products-bar-product {
        margin: 20px 1.5vw;
        padding: 8px 1vw;
        border: 1px solid transparent; 
        transition: all 0.2s;
    }

    .products-bar-product span {
      font-size: 20px;   
    }

    .products-section-content {
        font-size: 18px;
    }

    .product-card {
        display:flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: stretch;
    }

    .product-card-image {
        width: 100%;
    }

    .product-card-image img {
        width: 300px;
    }

    .product-card-content-title {
        margin: 20px 50px 0px 50px;
        font-size: 20px;
    }

    .product-card-content-features {
        margin: 0 18px 0 50px;
    }

    .product-card-content-features--feature {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 16px;
    }

}

@media (max-width: 660px) {
    .products-bar {
        display: grid;
        grid-template-columns: repeat(3, auto);
        justify-content: center;
    }

    .product-card {
        flex-flow: column-reverse wrap;
        margin-bottom: 40px;
    }

    .product-card-image img {
        margin: 0px 0 10px 0;
    }

    .product-card-image img {
        width: auto;
        max-width: 400px;
    }
}

/*Mobile Portrait Size*/
@media (max-width: 480px) {
    .product-section {
        max-width: 380px;
    }

    .products-section-title {
        font-size: 22px;
    }   

    .products-section-content {
        font-size: 16px;
        margin-bottom: 16px;
        padding-left: 8px;
    }

    .products-bar-product span {
        font-size: 15px;
    }

    .products-bar-product {
        margin: 6px 1.5vw;
        padding: 5px 10px;
    }

    .products-bar-product:hover, .product-selected {
        padding: 5px 10px;
    }

    .product-card-image img {
        max-width: 300px;
        max-height: 250px;
        margin: 10px 0;
        width: auto;
    }

    .product-card-content-title {
        font-size: 22px;
    }
    
    .product-card-content-features {
        width: 306px;
        margin: 0 0 0 46px;
    }

    .product-card-content-features svg {
        max-width: 20px;
        max-height: 20px;
    }

    .product-card-content-features--feature {
        font-size: 14px;
    }
}

@media (max-width: 350px) {
    .products-section-title{
        font-size: 20px;
    }

    .products-section-content {
        margin-bottom: 30px;
    }

    .products-bar-product span {
        font-size: 14px;
    }

    .products-bar-product {
        padding: 3px 8px;
    }

    .products-bar-product:hover, .product-selected {
        padding: 3px 8px;
    }

    .product-card-image img {
        max-width: 277px;  
    }
    
    .product-card-content-features svg {
        width: 20px;
        height: 20px;
    }

    .product-card-content-features--feature {
        font-size: 12.5px;
    }
}