@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

.navbar {
    max-width: 1440px;
    height: 60px;
    background: #C7EAF1;
    position: sticky;
    z-index: 100;
    top: 0;
    left: 0;
}

.navbar-wrapper {
    display: flex;
    max-width: 1215px;
    height: inherit;
    margin: 0 100px;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.navbar-wrapper-logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #0046BB;
}

.navbar-wrapper-links {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.navbar-wrapper-links a {
    text-decoration: none;
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0 1rem;
    position: relative;
}

.navbar-wrapper-links-link--regular::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 8px;
    color: #0046BB;
    left: 0;
    bottom: 5px;   
}

.navbar-wrapper-links a:first-child {
    margin-left: 0;
}

.navbar-wrapper-links a:last-child{
    margin-right: 0;
}

.navbar-wrapper-links-buttonlinks {
    /* margin-left: 100px; */
    margin-left: 4vw;
}

.navbar-wrapper-links-link-buttonlinks-colored {
    padding: 8px 24px;
    color: #fff;
    background: #0046BB;
    border-radius: 10px;
    transition: all 0.2s;
}

.navbar-wrapper-links-link-buttonlinks-colored:hover {
    padding: 8px 24px;
    color: #0046BB;
    background: #fff;
    border-radius: 10px;
}

.navbar-wrapper-links-link-buttonlinks-plain {
    padding: 8px 22px;
    color: #0046BB;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #0046BB;
    transition: all 0.2s;
}

.navbar-wrapper-links-link-buttonlinks-plain:hover {
    padding: 8px 22px;
    color: #fff;
    background: #0046BB;
    border-radius: 10px;
    border: 1px solid transparent;
}

.hamburger-menu-icon {
    display:none;
    opacity: 0;
}

/*Tablet Size*/
@media (max-width: 992px) {
    .navbar-wrapper {
        margin: 0 5vw;
        min-width: 765px;
    }

    .navbar-wrapper-links-buttonlinks {
        margin-left: 2vw;
    }

}

/*Hide the nav links for tablets*/
@media (max-width: 865px) {
    .navbar-wrapper {
        margin: 0 5vw;
        min-width: auto;
    }

    .navbar-wrapper-links {
        display: none;
    }

    .hamburger-menu-icon {
        display: block;
        opacity: 1;
        color: #0046BB;
        font-size: 40px;
        cursor: pointer;
        transform: translateY(2px);
    }
}

/*Mobile Landscape Size*/
@media (max-width: 768px) {
    .navbar-wrapper-logo {
        font-size: 28px;
    }    

    .navbar {
        height: 50px;
    }
}

/*Mobile Portrait Size*/
@media (max-width: 480px) {
    .navbar {
        height: 40px;
    }   

    .hamburger-menu-icon {
        font-size: 32px;
    }

    .navbar-wrapper-logo {
        font-size: 22px;
    }
}
