@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

.review-section {
    padding: 0 100px;
    background: #F9FAFC;
}

.review-section-wrapper {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.review-section-wrapper-titles--primary {
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 90px 0 25px 0;
    font-weight: 700;
    font-size: 36px;
}

.review-section-wrapper-titles--secondary {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    font-size: 24px;
    text-align: center;
}

.review-section-wrapper-reviews {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 30px 0;
    position: relative;
}

.review-image {
    width: 200px;
    height: 200px;
}

.review-button {
    cursor: pointer;
    color: #30B2CC;
    width: 30px;
    height: 30px;
}

.next {
    position: absolute;
    top: 85px;
    right: 80px;
}

.previous {
    position: absolute;
    top: 85px;
    left: 80px;
}

.reviewer-name {
    margin: 16px 0 0 0;
    color: #646464;
    font-family: 'Handlee', cursive;
    font-size: 22px;
}

.review-comment {
    margin: 16px 0;
    font-family: 'Handlee', cursive;
    font-size: 22px;
    max-width: 600px;
    text-align: center;
}

/*Tablet Size*/
@media (max-width: 992px) {

}

/*Mobile Landscape Size*/
@media (max-width: 768px) {
    .review-section-wrapper-titles--primary {
        font-size: 28px;
    }
}

@media (max-width: 660px) {
    .review-section {
        padding: 0 50px;
    }

    .review-section-wrapper {
        min-width: 400px;
    }
    .next {
        position: absolute;
        top: 85px;
        right: 10vw;
    }
    
    .previous {
        position: absolute;
        top: 85px;
        left: 8vw;
    }

    .review-image {
        max-width: 100%;
        max-height: 100%;
    }

    .reviewer-name {
        margin: 12px 0 0 0;
        font-size: 20px;
    }

    .review-comment {
        margin: 12px 0;
        font-size: 18px;
        max-width: 400px;
        text-align: center;
    }
}

/*Mobile Portrait Size*/
@media (max-width: 480px) {
    .review-section-wrapper {
        min-width: auto;
    }

    .review-section-wrapper-titles--primary {
        margin-top: 60px;
        text-align: center;
        font-size: 24px;
    }

    .review-section-wrapper-titles--secondary {
        font-size: 18px;
    }

    .review-image {
        max-width: 150px;
        max-height: 150px;
    }

    .next {
        top: 60px;
        right: 1px
    }

    .previous {
        top: 62px;
        left: -1vw
    }

    .reviewer-name {
        font-size: 16px;
    }

    .review-comment {
        font-size: 14px;
    }
}