@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

.review-section {
    padding: 0 100px;
    background: #F9FAFC;
}

.review-section-wrapper {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.review-section-wrapper-titles--primary {
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 90px 0 25px 0;
    font-weight: 700;
    font-size: 36px;
}

.review-section-wrapper-titles--secondary {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    font-size: 24px;
    text-align: center;
}

.review-section-wrapper-reviews {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 30px 0;
    position: relative;
}

.review-image {
    width: 200px;
    height: 200px;
}

.review-button {
    cursor: pointer;
    color: #30B2CC;
    width: 30px;
    height: 30px;
}

.next {
    position: absolute;
    top: 85px;
    right: 80px;
}

.previous {
    position: absolute;
    top: 85px;
    left: 80px;
}

.reviewer-name {
    margin: 16px 0 0 0;
    color: #646464;
    font-family: 'Handlee', cursive;
    font-size: 22px;
}

.review-comment {
    margin: 16px 0;
    font-family: 'Handlee', cursive;
    font-size: 22px;
    max-width: 600px;
    text-align: center;
}

/*Tablet Size*/
@media (max-width: 992px) {

}

/*Mobile Landscape Size*/
@media (max-width: 768px) {
    
}

/*Mobile Portrait Size*/
@media (max-width: 480) {
    
}