@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
}